body{
    background-color:azure;
}
#down{
    padding-left: 8%;

}
#dot{
    padding-left: 8%;

}
#data{
    padding-left: 8%;
    margin-right: 70%;
}
#man{
    padding-left    : 8%;
    margin-inline-start: 10%;
}
#men{
    display: grid;
    grid-template-columns: 50% 50% ;
   grid-template-rows: 600px 600px;
   gap: 1%;
   margin-left: 20%;
   margin-right: 20%;
   text-align: justify;
    #men1 {background-color: rgb(255, 255, 255);
        border: 2px solid black;}
    #men2 {background-color: rgb(255, 255, 255);
        border: 2px solid black;} 
    #men3 {background-color: rgb(255, 255, 255);
        border: 2px solid black;}
     #men4 {background-color: rgb(255, 255, 255);
        border: 2px solid black;;}
#don{
